apiVersion: apps/v1
kind: Deployment
metadata:
  name: loderunner-api
  namespace: loderunner
  labels:
    app.kubernetes.io/name: loderunner-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: loderunner-api
  template:
    metadata:
      labels:
        app: loderunner-api
        aadpodidbinding: ngsa-asb-loderunner-id
        deploy: 22-08-18-06-04-59
        version: beta-2208-18-06
    spec:
      containers:
        - name: app
          image: ghcr.io/retaildevcrews/lr-api:beta
          imagePullPolicy: Always
          args:
          - --url-prefix
          - /api
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          resources:
            limits:
              memory: "512Mi"
              cpu: "1000m"
            requests:
              memory: "512Mi"
              cpu: "500m"
          env:
          - name: "ASPNETCORE_ENVIRONMENT"
            value: "Production"
          volumeMounts:
            - name: secrets
              mountPath: "/app/secrets"
            - mountPath: /tmp
              name: tmp
          readinessProbe:
            initialDelaySeconds: 5
            httpGet:
              path: /version
              port: 8080
          livenessProbe:
            initialDelaySeconds: 60
            periodSeconds: 300
            httpGet:
              path: /healthz
              port: 8080
          securityContext:
            readOnlyRootFilesystem: true
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            runAsNonRoot: true
            runAsUser: 10001
      automountServiceAccountToken: false
      securityContext:
        seccompProfile:
          type: RuntimeDefault
      volumes:
        - name: secrets
          csi:
            driver: secrets-store.csi.k8s.io
            readOnly: true
            volumeAttributes:
              secretProviderClass: lr-secrets
        - name: tmp
          emptyDir: {}
      nodeSelector:
        agentpool: npuser01

---

apiVersion: v1
kind: Service
metadata:
  name: loderunner-api
  namespace: loderunner
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: loderunner-api
